*,*::before,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
.all-cover{
    

    min-height: 140vh;

}
.head-section{
    position: sticky;
    
    top: 0;
   z-index: 100;
     box-shadow: 2px 0px 1px 2px rgba(0, 0, 0, 0.2),1px 0px 1px 1px rgba(0, 0, 0, 0.21),3px 1px 4px 1px rgba(0, 0, 0, 0.23);
  display: flex; 
    flex-direction: row;
    background-color: darkgrey;

   
    
}
 .nav-section{
    flex:1;
    margin-right: 3rem;

    
} 
.logo{
   font-size: 2rem;
   margin-left: 1rem;
   color: wheat;
   font-weight: bold;
    flex: 1;
}

.navigation{width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height:100%;
  

   
   
    list-style-type: none;

}
.navigation a{
    text-decoration: none;
    font-size: 1.5rem;
}
.navigation li{
    margin-right: 1.3rem;
    position: relative;
    padding-bottom: 3px;
}
li::before{
    content: "";
  
    right: 50%;
    left: 50%;
    position: absolute;
    bottom: 0;
   height: 3px;
   background-color: blueviolet;
   transition: all 0.1s ease-in-out;

}
.board-section{
    background-color: black;
    padding-top: 3rem;
   justify-content: center;
    display: flex;
    flex-direction: column;
    min-height:90vh;
    
    padding: 2rem;
    align-items: center;
}
li:hover::before{
    right: 0px;
    left: 0px;
}

.profile{
    max-width: 300px;
   margin-bottom: 1rem;
    height:200px;
    border-radius: 50%;
    
    box-shadow: 2px 0px 1px 2px rgba(0, 0, 0, 0.2),1px 0px 1px 1px rgba(0, 0, 0, 0.21),3px 1px 4px 1px rgba(0, 0, 0, 0.23);
  
}

.his-bio::before{
content: "";
position: absolute;
bottom: 0px;
right: 0px;
left: 0px;
height:3px;
background-color: green;
}
.his-bio{
    text-align: center;
    width: max-content;
    margin: auto;
    display: inline-block;
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.bio{
    border-radius: 1rem;
    padding: 1rem;
    background-color: darkgray;
    width:60%;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 2px 0px 1px 2px rgba(0, 0, 0, 0.2),1px 0px 1px 1px rgba(0, 0, 0, 0.21),3px 1px 4px 1px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-top: 2rem;

}
.discrp{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.name{
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: whitesmoke;
    text-transform: capitalize;
    word-wrap: break-word;
}
.name-1{
    font-size: 1.5rem;
    font-weight: bold;
  color:sienna;
    
    word-wrap: break-word;
}
.title{
    
    font-size:1.5rem;
    text-align: center;
    color: whitesmoke;
    width: 100%;
}


.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: goldenrod;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.birthdate{
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    color: whitesmoke;
   min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width:800px;
    flex: 1;
   
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.23),0px 3px 4px 2px rgba(0, 0, 0, 0.21);
    font-size: 1.2rem;
}
.school-section{
    background-color: black;
    padding-bottom:2rem;
    
}
.school{ 
    padding: 1rem;
    border-radius: 1rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin:auto;
    min-height:20vh;
    background-color: darkgray;
    width:50%;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.23),0px 3px 4px 2px rgba(0, 0, 0, 0.21);
  padding-bottom: 2rem;

}
.addr{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}

.address{
    flex: 1;
    padding: 1rem;

    word-wrap: break-word;
    border-radius: 1rem;
    color: whitesmoke;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    max-width:800px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.23),0px 3px 4px 2px rgba(0, 0, 0, 0.21);
    font-size: 1.2rem;
}
.address div a{
    text-decoration: none;
    color:whitesmoke;
    word-wrap: break-word;
    width: 100%;
}
.address div a:hover{
    text-decoration: underline;
    color: blue;
}



.burger{
    
    position: fixed;
    top: 4px;
    z-index: 200;
    right: 20px;
    flex-direction: column;
    width: 30px;
     display: none !important;
}
.b1,.b2,.b3{
    background-color: black;
    height: 4px;
    
}

.b2{   margin-top:4px;
    margin-bottom: 4px;
   
   
}
.bu2{
    display: flex;
    position: fixed;
    top: 4px;
    z-index: 200;
   right: 20px;
    flex-direction: column;
    width: 30px;
 
    
}
.bu2 .b1{
    transition:all 0.5s;
    transform:translate(-2px,8px) rotate(45deg);
  

}
.bu2 .b2{
    visibility:hidden;
}
.bu2 .b3{
    transition:all 0.5s;
    transform: rotate(-45deg) translate(4px,-7px);
    
}

.stop-scroll{
    overflow-y: hidden;
    
}








@media screen and (max-width:600px){
   
   
   
   
   
    .burger{
        display: flex !important;
    }
    .board-section{
        flex-direction: column;
    }
    .navigation{
        visibility: hidden;
        position: fixed;
        top: 0px;
        right: 0px;
        height:100vh;
       

    }
    .section2{
        flex-direction: column;
        align-items: center;

    }
    .address{
        margin-top:1rem;
        width:90%;
        min-height:200px;
        word-break: break-all;
        padding: 1rem;
        
    }
    .birthdate{
       
        margin-right: 0px;
        width: 90%;
    }
    .bio{
        width: 100%;
        
        padding-top: 2rem;
    }
    .school{
        width:86%;
    }

  .nd{
padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    visibility: visible !important;
    background-color: whitesmoke;
    width: 40%;
  

  } 
  li:hover{
      background-color: yellowgreen;
      border-radius: 1rem;
      width: 100%;
      text-align: center;
      
  }
  

  li::before{
      width: 0px;
      content:"";

  } 
.nd::before{
    content: "";
    width: 60%;
    opacity: 0.6;
    background-color: black;
    top: 0px;
    height: 100vh;
    position: fixed;
    left: 0px;

}
.navigation li{
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.navigation li a{
    width: 100%;
    display: inline-block;
}
.nav-section{
    position: absolute;
}



}
